@import "../functions";

$videoheight-xxlarge: 900px;
$videoheight-xlarge: 780px;
$videoheight-large: 650px;
$videoheight-medium: 500px;
$videoheight-small: 240px;

.video-wrapper{
 position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    clip-path: 0 0;
    transform: translatez(0);
    video{
        transform: translatez(0);
        position: absolute;
        top: -100%;
        bottom: -100%;
        left: -100%;
        right: -100%;    
        margin: auto;
        min-width: 100%;
        min-height: 100%;
    }
    .overlay-logo{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }
}

@media #{$xlarge-up} { 
    .video-wrapper {
        height: $videoheight-xxlarge;
    }

}
@media #{$xlarge-only} { 
    .video-wrapper {
        height: $videoheight-xlarge;
    }
}
@media #{$large-only} {
    .video-wrapper {
        height: $videoheight-large;
    }
	
}
@media #{$medium-only} { 
    .video-wrapper {
        height: $videoheight-medium;
    }
}
@media #{$small-only} { 
    .video-wrapper {
        height: $videoheight-small;
    }
    video{
        // top:-10%
        // top:0;
        width: 120%;
    }
	
}
